fastapi[standard]
uvicorn[standard]
sqlalchemy
alembic
pydantic
databases[aiosqlite]
requests
types-requests
python-multipart
python-decouple
python-dotenv
pytest
httpx
pytest-asyncio
pyjwt
authlib
black
isort
flake8
pre-commit
passlib[bcrypt]
types-passlib
python-jose
types-python-jose
